* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../imagem/AkatsukiSimbolo.jpg');
  background-size: auto 50vh;
  font-family: 'Lakki Reddy', cursive;
  height: 100vh;
}

@media (min-width: 400px){
  body{
    font-size: 16px;
  }
}

@media (min-width: 600px){
  body{
    font-size: 18px;
  }
}

@media (min-width: 800px){
  body{
    font-size: 22px;
  }
}

header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  background-color: black;
  position: fixed;
  width: 100vw;
  top: 0;
  font-family: 'Shojumaru', cursive;
  z-index: 1;
}

.menu a {
  transition: 1s;
}

.menu a:hover {
  background-color: red;
  color: black;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: red;
}

.titulo {
  text-align: center;
  color: darkcyan;
  font-family: 'Shojumaru', cursive;
  background-color: black;
  font-size: 3em;
  line-height: 1em;
  margin-bottom: 20px;
}
 
.subtitulo {
  text-align: center;
  background-color: black;
  color: orangered;
  font-family: 'Shadows Into Light', cursive;
  font-weight: lighter;
  font-size: 2em;
}

.DA {
  padding: 1em;
}

.DA h2 {
  background-color: black;
  color: orange;
  font-family: 'Lakki Reddy', cursive;
  font-size: 2.2em;
  margin-bottom: 1.5em;
}

.contato h2 {
  background-color: black;
  color: orange;
  font-family: 'Lakki Reddy', cursive;
  font-size: 2.2em;
  margin-top: 1em;
}

.grid {
  color: dodgerblue;
  display: grid;
  gap: 1em;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@media (min-width: 540px) {
  .contato,
  .DA {
    padding: 3em 2em 2em;
    min-height: 100vh; 
  }
   .grid {
    grid-template-columns: 220px 220px;
    height: calc(140vh - 1em - 10px);
  }
}

@media (min-width: 720px) {
  .contato,
  .DA {
    padding: 3em 2em 2em;
    min-height: 100vh; 
  }

   .grid {
    grid-template-columns: repeat(3, 220px);
    height: calc(100vh - 4em - 10px);
  }
}

@media (min-width: 900px) {
  .contato,
  .DA {
    padding: 3em 2em 2em;
    min-height: 100vh; 
  }

  .grid {
   grid-template-columns: repeat(4, 220px);
   height: calc(100vh - 3em - 0px);
 }
}

.imagem {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  width: 220px;
}

.imagem1 {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  width: 180px;
}

.imagem2 {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.imagem3 {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  width: 200px;
}

.imagem:hover {
  transform: scale(1.2);
}

.imagem1:hover {
  transform: scale(1.2);
}

.imagem2:hover {
  transform: scale(1.2);
}

.imagem3:hover {
  transform: scale(1.2);
}

.nomepersonagem {
  background-color: black;
  font-weight: bold;
}

.contato {
  background-color: black;
  padding: 1;
  text-align: center;
}

.icons a {
  color: mediumslateblue;
  font-size: 5em;
  text-shadow: 0px 0px 40px red;
}

.icons a:hover {
  text-decoration: none;
}